<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE基础test</title>
</head>

<style>
    .hang {
        border: 1px solid gray;
        width: 130px;
        padding: 3px 3px 3px 3px;
    }
    
    #app {
        border: 1px solid grey;
        width: 50%;
        padding-bottom: 5px;
    }
    
    .clear {
        float: right;
        padding-right: 10px;
    }
</style>

<body>
    <div id="app">
        <h1>极简记事本</h1>
        <input v-model='inputValue' @keyup.enter="add" autofocus="autofocus" autocomplete="off" placeholder="请输入任务">
        <section>
            <ul>
                <li v-for='(item,index) in arr' class="hang">
                    <span>{{ index }}</span>
                    <label>{{ item }}</label>
                    <input type="button" value="×" @click="remove(index)">
                </li>
            </ul>
            <span><strong>{{ arr.length}} </strong>items left</span>
            <button class="clear" @click="clear"><strong>clear</strong></button>
        </section>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                arr: ['写代码', '看动画', '打游戏'],
                inputValue: '请输入事件名称'
            },
            methods: {
                add: function() {
                    this.arr.push(this.inputValue)
                },
                remove: function(index) {
                    this.arr.splice(index, 1)
                },
                clear: function() {
                    this.arr = []
                }
            }
        })
    </script>
</body>

</html>